{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
     <div class="features">
          <!DOCTYPE html>
          <html lang="ru">
          <head>
               <meta charset="utf-8" />
               <title>Умный дом</title>
          </head>
          <body>
          <table
                  border="1"
                  align="center"
                  rules="rows"
                  style="width:60%;">

               <tr>

                    <td>

                         <table

                         border="1"
                         background="images/168.png"
                         bgcolor="#FFB6C1"
                         cellpadding="10"
                         style="width:100%; border-radius:5px;">
<!--Создаём строку таблицы-->
                              <tr>
<!--Создаём столбец таблицы-->
                                   <th>
<!--Содержание ячейки столбца-->
                                        <h1>SMART HOME</h1>
                                        <h3>Умный дом: что это такое, зачем нужен и как работает</h3>
<!--Закрываем таблицу-->
                                   </th>
                              </tr>
                         </table>

<!--ОСНОВНОЙ КОНТЕНТ-->

<!--В этой же ячейке контейнера создаём ещё одну таблицу
для основного контента.
Оформление как и в предыдущей таблице-->

                         <table
                                 border="1"
                                 bgcolor="#D8BFD8"
                                 cellpadding="10"
                                 style="width:100%; border-radius:5px;">
<!--Создаём строку-->
                              <tr>
<!--Создаём ячейку
Оформление:
rowspan="2" - объединяем две ячейки в одну.
Число объединяемых ячеек по числу ячеек в сайдбаре.
style="width:80%" - основной контент занимает 80% всей площади,
оставшиеся 20% для сайдбара-->
                                   <td
                                           rowspan="2"
                                           style="width:80%">
                                        <h2>Что такое умный дом</h2>
<!--Начинаем абзац с красной строки-->
                                        <p style="text-indent:20px">
                                             Умный дом — это автоматизированная система управления всеми приборами в доме, которые объединены в единую экосистему. Система может сама принимать решения и выполнять определенные задачи, без участия человека. Вам остается лишь управлять дистанционно нажатием кнопок на пульте/гаджетах или голосовыми командами.</p>

                                        <p style="text-indent:20px">Представьте: вы просыпаетесь по сигналу умного будильника, для вас уже готов кофе и тосты, набрана ванна, играет приятная бодрая музыка. Вы уходите на работу, система ставит дом на сигнализацию и вы можете дистанционно следить за тем, что происходит в доме. Когда ложитесь спать, свет во всем доме сам отключается.</p>
<!--Закрываем ячейку-->
                                   </td>

<!--САЙДБАР-->

<!--Создаём ячейку сайдбара-->


<!--Закрываем строку Меню-->
                                   </td>
                              </tr>
<!--Создаём строку с дополнительной информацией-->
                              <tr>
<!--Ячейка с дополнительной информацией-->
                                   <td
                                           bgcolor="#DDA0DD"
                                           align="center">
                                        <h3>Управлять системой умный дом можно:</h3>
                                        <p style="text-indent:10px">через приложение на смартфоне;</p>
                                        <p style="text-indent:10px">с помощью дистанционного пульта;</p>
                                        <p style="text-indent:10px">с компьютера или ноутбука через специальное ПО;</p>


<!--Закрываем ячейку с общей информацией
и таблицу основного контента-->
                                   </td>
                              </tr>
                         </table>

<!--ПОДВАЛ-->

<!--Создаём таблицу подвала-->

<!--Закрываем таблицу контейнера-->
                    </td>
               </tr>
          </table>
          </body>
          </html>
     </div>
{% endblock %}